* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-azul-100: #b3ecff;
  --cor-azul-500: #00bbff;
  --cor-azul-700: #014c6f;
  --cor-azul-900: #00112b;
  --cor-cinza-100: #fbfbfb;
}
